# Requirements for the demo notebooks
# Useful for MyBinder configuration

numpy==1.19.5
scipy==1.9.3
scikit-learn==1.2.2
pandas==1.3.5
matplotlib==3.3.4
seaborn
nltk==3.6.7
nibabel==3.0.2
brainiak
nilearn==0.7.1
nltools==0.4.2
hypertools
timecorr
pliers
statesegmentation
networkx
datalad==0.12.6
requests
urllib3==1.26.0

notebook==6.4.12
ipykernel
ipywidgets
jupyter_contrib_nbextensions
